<div class="picture-container">
  <img class="profile-picture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYzhiq80mM6RTdhv_LRTWR0KhfboiSVYxKirHceqAfbymzfB8tpZ1DhLHu_zNmDQCr7NM&usqp=CAU" alt="haha">
</div>

<div class="short-info">
  <div>
    <span id="name-surname">{{firstname}} {{lastname}}</span>
  </div>
  <div>
    <span id="username">{{username}}</span>
  </div>

</div>

<div class="statistics">
  <mat-divider></mat-divider>

  <div>
    <span>placeholder one</span>
    <span>0</span>
  </div>

  <mat-divider></mat-divider>

  <div>
    <span>second placeholder</span>
    <span>0</span>
  </div>

  <mat-divider></mat-divider>

  <div>
    <span>place place</span>
    <span>0</span>
  </div>

  <mat-divider></mat-divider>
</div>

<div class="actions">
  <button mat-stroked-button>
    <span>Save changes</span>
  </button>
</div>
