<mat-sidenav-container class="global-messages-wrapper">

  <mat-sidenav opened="true" mode="side" class="sidenav-chats" position="start">
    <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let chat of chats"
                     [value]="chat"
                     (click)="openChat(chat.uniqueId)">
      {{chat.name}}
    </mat-list-option>
  </mat-selection-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
